<h1>Melody</h1>
<h2 class="tail-r color-ccc">人物简介 &nbsp; </h2>
<p style="text-indent: 2.3em;" class=u_3009_hidrule-h>
    TSL,又名THL,英文名Melody<span class=comment data-content=她自己说的>1</span>,原名Amy,也是<!--
    -->法国女明星<span class=comment data-content="简称法女星">6</span>,
    是个贵妇，特别高级，吃相优雅，酷爱象牙，生活充实，曾花钱买罪受，还是个dancer<span class=comment 
    data-content="一加一皇冠">2</span>，男友为朱辉<span class=comment data-content=officer>3</span>
    (原名ZQH<span class=comment data-content="Loser说的(朱NB?)">4</span>)，且是个officer,Melody
    还有一个初一班主任朋友Tina<span class=comment data-content="Her BEST friend">5</span>,TSL特别晦气
    <span class=comment data-content="unlucky">7</span>,在七上短暂成为<a>2011</a>班主任<span class=
    comment data-content="也叫pig-mover, “搬猪人”">8</span>,2011园长<span class=comment data-content
    ="指2011动物园">9</span>，2011最重要的人员<span class=comment data-content="同时也是最晦气的"
    >10</span>人员之一。她晦气了很多班民，最后由于“心脏病”<span class=comment data-content=
    "即heart-sick.\n思考:为什么加引号？\n\n\n因为“心脏病”是她make up的">11</span>退位。
</p>
<p class="u__hidrule-h u_3009_hidrule-s">Building Website</p>