*{/**/}
*[disabled]{
    cursor: not-allowed !important;
}
a, button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a[href] {
    color: blue;
}
a:hover {
    text-decoration: underline;
}

/* Predefs for pages */
.f-bigger {
    font-size: larger;
}
.f-smaller {
    font-size: smaller;
}
.color-ccc {
    color: #cccccc;
}
.color-red {
    color:red;
}
.border-f {
    border: 1px solid;
}
.border-f.border-ccc {
    border: 1px solid #ccc;
}
.disp-block {
    display: block;
}
.disp-iblock {
    display: inline-block;
}
.disp-inline {
    display: inline;
}
.disp-flex {
    display: flex;
}
.tali-l {
    text-align: left;
}
.tali-c {
    text-align: center;
}
.tali-r {
    text-align: right;
}

*.comment {
    display: inline;
    position: relative;
    top: -0.5em;
    color: blue;
    font-size: smaller;
    text-decoration: none;
    cursor: auto;
}
*.comment:hover {
    text-decoration: underline;
    cursor: not-allowed;
}
*.comment:hover::after {
    --comment-background-color: #abcdef;
    content: attr(data-content);
    position: fixed;
    z-index: 3;
    border: 1px solid #606060;
    background-color: var(--comment-background-color);
    padding: 10px;
    cursor: crosshair;
}
