*:disabled, *[disabled] {
    cursor: not-allowed !important;
    user-select: none !important;
}
*:disabled {
    /* pointer-events: none !important; */
    touch-action: none !important;
}


a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:any-link,
a[href] {
    color: blue;
}


