

*:disabled, *[disabled] {
    cursor: not-allowed !important;
}


a, button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:any-link, a[href] {
    color: blue;
}



.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background: inherit; */
    background: var(--background);

    --background: white;
}


#main {
    padding: 10px;


}

#main .page-loading-progress {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100%;
    height: 30%;
    text-align: right;
    background: transparent;
    --svgsize: 30%;
}
@media screen and (max-width: 399px) {
    #main .page-loading-progress {
        width: 105px;
    }
}

#main .popup {
    position: fixed;
    z-index: 9999;
}

#main .nav {
    display: flex;
    flex-direction: column;
}
#main nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - (10px * 2));
    height: auto;
    padding: 10px;
    background: var(--navbackground);
    box-shadow: 0 1px 3px 0 gray;

    --navbackground: #b3e5fc;
}
#main nav * {
    vertical-align: middle;
}
#main nav a {
    margin-right: 5px;
}
#main nav .login-button {
    width: var(--size);
    height: var(--size);
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 50%;

    --size: 32px;
}

@media screen and (min-width: 500px) {
    #main #app_menubar_btn {
        display: none;
    }
    #main #app_menubar .x {
        display: none;
    }
}
@media screen and (max-width: 499px) {
    #main #app_menubar {
        display: none;

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--background);
        z-index: 73;

        padding: 20px;
        /* display: flex; */
        flex-direction: column;
        overflow: auto;
    }
    #main #app_menubar .x {
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: inherit;
        font-size: x-large;
    }
    #main #app_menubar * {
        margin: 10px 0;
        font-size: larger;
    }

}

#main .user-dropdown-component {
    display: none;

    background: var(--background);
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 1px 1px 1px 0 grey;
    z-index: 9999;
}
#main .user-dropdown-component > dialog-backdrop {
    display: none;
}
#main .user-dropdown-component.open > dialog-backdrop {
    display: revert;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 9901;
    background: transparent;
    cursor: not-allowed;
}

#main footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #cccccc;
    font-size: smaller;
}

#main main iframe.content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

#main #webpage-fullscreen-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100001;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: .1s;
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;

    background-color: white;
    background-image: url(fullscreen-expand.svg);
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 32px;
}
#main #webpage-fullscreen-button:hover {
    background-color: #F0f0f0;
}
#main #webpage-fullscreen-button.expanded {
    background-image: url(fullscreen-shrink.svg);
}

#main main.expanded {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: inherit;
    overflow: auto;
    background-color: white;
}
#main main.expanded iframe {
    height: 100%;
}



