

*:disabled, *[disabled] {
    cursor: not-allowed !important;
}


a, button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:any-link, a[href] {
    color: blue;
}



.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: inherit;
}


#main {
    padding: 10px;
    background: var(--background);
    --background: white;

}

#main .page-loading-progress {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 231px;
    height: 32px;
    text-align: right;
    background: var(--background);
}
@media screen and (max-width: 399px) {
    #main .page-loading-progress {
        width: 105px;
    }
}

#main .nav {
    display: flex;
    flex-direction: column;
}
#main nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - (10px * 2));
    height: auto;
    padding: 10px;
    background: var(--background);
}
#main nav a {
    margin-right: 5px;
}

#main footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #cccccc;
    font-size: smaller;
}

#main main iframe.content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
}



